/**
 * @file secrets.h.template
 * @author Antonios Karagiannis (antokarag@gmail.com)
 * @brief A template for the secrets definition file.
 *        Copy file to "secrets.h" and insert the secret values there.
 * @version 0.1
 * @date 2024-01-23
 *
 * @copyright Copyright (c) 2024
 *
 */
#ifndef SECRETS
#define SECRETS

#define WIFI_SSID ""
#define WIFI_PASSWORD ""
#define OTA_PASSWORD ""

#endif // SECRETS